
@{
    ViewBag.Title = "Home";
}


<h2 class="text-center">@ViewBag.Title</h2>

<br />

<div>
    <div class="btn-group d-flex" role="group">
        @using (Html.BeginForm(actionName: "Index", controllerName: "Movie", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">Movies</button>
        }

        @using (Html.BeginForm(actionName: "Index", controllerName: "Award", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">Awards</button>
        }

        @using (Html.BeginForm(actionName: "Index", controllerName: "Review", method: FormMethod.Get,
                            new { @class = "btn" }))
        {
            <button class="btn btn-primary">Reviews</button>
        }

        @using (Html.BeginForm(actionName: "Index", controllerName: "Studio", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">Studios</button>
        }

    </div>

    <br />

    <div class="btn-group d-flex">

        @using (Html.BeginForm(actionName: "Index", controllerName: "Person", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">People</button>
        }

        @using (Html.BeginForm(actionName: "Index", controllerName: "Job", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">Jobs</button>
        }

        @using (Html.BeginForm(actionName: "Index", controllerName: "ContactInfo", method: FormMethod.Get,
                                new { @class = "btn" }))
        {
            <button class="btn btn-primary">Contact infos</button>
        }
    </div>
</div>
